html {
  background-color: #f2f2f2;
  height: 100%;
}

@font-face {
  font-family: 'open-sans';
  src: local('open-sans'),
    url(./assets/fonts/OpenSans-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'open-sans-medium';
  src: local('open-sans-medium'),
    url(./assets/fonts/OpenSans-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'open-sans-bold';
  src: local('open-sans-bold'),
    url(./assets/fonts/OpenSans-Bold.ttf) format('truetype');
}

.link {
  text-decoration: none;
}

body {
  margin: auto;
  font-family: 'open-sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
  min-height: 100%;
  box-sizing: border-box;
  // width: 100%;
  // margin-left: auto;
  // margin-right: auto;
  // background-color: white;
  overflow-y: scroll;
  &:hover {
    cursor: default;
  }

  @media only screen and (max-width: 360px) {
    width: 100%;
  }

  @media only screen and (min-width: 375px) {
    width: 375px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
