.rating {
  display: flex;
  margin-top: 2px;
  align-items: center;
  .star {
    vertical-align: middle;
    width: 11px;
    height: 11px;
    margin-right: 1px;
    object-fit: cover;
  }
  span {
    font-size: 15px;
    color: #4a4a4a;
    margin-left: 4px;
  }
  .number {
    font-family: 'roboto';
    color: #666666;
    font-size: 15px;
    margin-right: 10px;
  }
}
