
@mixin text {
    font-family: 'open-sans';
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #fff;
}

.address-modal {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
    display: block;
    visibility: hidden;    

    /* show */
    &.show {
        display: block;
        visibility: visible;

        & .background {
        opacity: 0.5;
        }

        & .address-box {
        transform: translateY(0%);
        }
    }
    /* show */

    /* background */
    .background {
        height: 100%;
        background-color: black;
        opacity: 0;
        transition: all 0.5s ease-in-out;
    }
    /* background */

    /* popup-box */
    .address-box {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 100%;
        background-color: white;
        border-bottom: 2px solid #d8d8d8;
        height: auto;
        transform: translateY(200%);
        border-radius: 5px;
        transition: all 0.5s ease-in-out;

        @media only screen and (min-width: 360px) {
        width: 100%;
        }

        @media only screen and (min-width: 375px) {
        width: 375px;
        }

        /* popup-box-top */
        .address-box-top {
            padding: 15px;
            display: block;
            border-radius: 5px;
            height: 450px;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            overflow-y: scroll;
            background-color: #ffffff;

        /* popup-box-title */
            .address-box-title {
                .title {
                    @include text();
                    font-size: 14px;
                    font-weight: bold;
                }
            }
            .address-modal-text {
                width: 75%;
                .text {
                    font-size: 20px;
                }
            }
            .address-list {
                .list-item{
                    cursor: pointer;
                    margin-top: 20px;
                    border-bottom: 1px solid #d8d8d8;
                    display: flex;
                    margin-left: 10px;
                    img {
                        margin-right: 10px;
                    }
                    .list-name {
                        h1 {
                            font-size: 16px
                        }
                        p {
                            font-size: 12px
                        }
                    }
                    &:hover{
                        opacity: 0.7;
                    }
                    &:active{
                        background-color: #d8d8d8;
                        border-radius: 3px
                    }
                }
            }
        /* popup-box-title */

        /* popup-close */
        .address-close {
            @include text();
            font-size: 16px;
            text-align: right;
            text-decoration: underline;
            cursor: pointer;
            color: black;
        }
        /* popup-close */
        }

        .address-box-top::-webkit-scrollbar {
            display: none;
        }
        /* popup-box-top */

        /* popup-box-bottom */
        .popup-box-bottom {
        padding: 15px;

        /* line */
        .line {
            width: 100%;
            height: 0.5px;
            background-color: #d8d8d8;
            margin-bottom: 10px;
        }
        /* line */
        }
        /* popup-box-bottom */
    }
/* popup-box */
}    