.home {
    display: block;
    padding: 10px 20px;

    .header {
        display: flex;
        align-items: center;
        .address-choice {
            margin-left: 15px;
            h2 {
                color: #666666;
                font-size: 10px;
            }
            .address {

            }
        }
    }
}